<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

<div class="container clearfix">
    <!-- <div style="width: 100%;">
        <img src="/img/2026_team-photo.jpg" alt="Sound Athletics Facebook Image">
    </div>   -->
    <main role="main" class="content home">

        <div class="main-content">

            <div class="home-left-column">
                <article class="intro-text">
                    <h1 class="page-title">Welcome to Sound Athletics!</h1>
                    <p>
                        We are a non-profit Special Olympics team serving the Puyallup area. We provide both traditional and limited unified sports opportunities for Bowling (Fall), Powerlifting (Fall), Basketball, (Winter), Cheerleading (Winter), Track &amp; Field (Spring).
                    </p>
                    <p>
                        Our coaching staff is trained to provide a safe teaching and training environment for our athletes. We welcome athletes of all abilities ages 8 and over, with no pay-to-play requirement. 
                    </p>
            
                    <p><a href="/about_sa" class="button">Find out more about us</a></p>
                </article>
                <hr>
                <article class="calendar">
                    <h1>Calendar of Events</h1>
                    <p>
                        To see calendar larger, go to the <a href="/calendar">Calendar Page</a> >
                    </p>
                    <iframe style="width: 100%;" src="https://calendar.google.com/calendar/embed?src=soundathleticspierce%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </article>
            </div>

            
        
            <div class="home-right-column">
                <article class="athlete-signup">
                    <h1>
                        Athlete Sign Up
                        <i class="icon-down-circled-1" style="color: rgba(0,0,0,.5)"></i>
                    </h1>
                    <h2 class="subhead">How to join our team:</h2>
                    <ol>
                        <li>Check out our <a href="/calendar">Calendar</a> to see if practices fit your schedule.</li>
                        <br>
                        <li>To sign up, please contact us at <a href="mailto:soundathleticspierce@gmail.com">soundathleticspierce@gmail.com</a></li>
                    </ol>
                    <blockquote>If you have any questions email us at <a href="mailto:soundathleticspierce@gmail.com">soundathleticspierce@gmail.com</a></blockquote>
                </article>
                <article class="what-sports">
                    <h1>What Sports? When?</h1>
                    <p>We provide both traditional and unified sports opportunities. Our coaching staff is trained to
                        provide a safe environment for our athletes. We welcome athletes of all abilities ages 8 and over.</p>
                    <article class="sport-season">
                        <div>Fall</div>
                        <div><i class="icon-right-bold"></i></div>
                        <div>Bowling, Powerlifting</div>
                    </article>
                    <article class="sport-season">
                        <div>Winter</div>
                        <div><i class="icon-right-bold"></i></div>
                        <div>Basketball, Cheerleading</div>
                    </article>
                    <article class="sport-season">
                        <div>Spring</div>
                        <div><i class="icon-right-bold"></i></div>
                        <div>Track &amp; Field</div>
                    </article>

                </article>
                <h3>Have any questions about the different sports? </h3>

                <p>Visit the <a href="/sports/">Sports page</a> to learn more about all sports</p>

                <p>For <strong>bowling, basketball and track and field</strong> email <a href="mailto:soundathleticspierce@gmail.com">soundathleticspierce@gmail.com</a></p>

                <p>For <strong>powerlifting</strong> email <a href="mailto:soundathleticpowerlifting@gmail.com">soundathleticspowerlifting@gmail.com</a>, contact Coach Shannon </p>
                
                <p>For <strong>cheer</strong> email <a href="mailto:soundathleticscheer@gmail.com">soundathleticscheer@gmail.com</a>, contact Coach Shirley </p>
            </div>
        </div>

        <div class="home-volunteer clearfix" >
            <article class="full-width">
            <h1>Interested in Coaching or Volunteering with us?</h1>
            <p><strong>We would love the help!</strong></p>
            <p>Please email <a href="mailto:soundathleticspierce@gmail.com">soundathleticspierce@gmail.com</a></p>
            <p class="button"><a href="/coaching_opportunities/">More About Coaching</a> | <a href="/volunteer_today/">More About Volunteering</a> </p>
        </article>

        </div>

        <div class="home-donate" >
            <article class="full-width">
                <h1>Support Sound Athletics</h1>                 
                <p>
                    Your generous donations are always welcome.<br>
                    You can donate with PayPal
                </p>

                <div>
                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="hosted_button_id" value="8V4YPML6A27G4" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                </div>

                <p>
                    Or send donations to:<br>
                    <strong>
                    Sound Athletics<br>
                    3801 N 27th Street #6921<br>
                    Tacoma, WA 98407-9998<br>
                    </strong>
                </p>
                </article>

        </div>

        <!-- 
        <h2>About</h2>
        <p>
            Sound Athletics was established in the fall of 2002 by Gordie & Sherry Bowman to
            fulfill the needs of their son, Tim. Tim participated in the World Games in 1999. 
            Gordie was so inspired by the atmosphere at the Games that he wanted to provide a 
            program and opportunity to local families. Gordie’s desire was to provide a safe and 
            friendly environment for athletes to come together and compete. Sound Athletics is an
            official local program of Special Olympics Washington, serving over 60 families in 
            the Tacoma/Puyallup area.
        </p>
        <h2>Mission</h2>
        <p>
            The mission of Sound Athletics is to provide a fun and safe environment for athletes
            of all abilities, ages 8 and over, to come together and participate in athletic endeavors.
        </p>
        -->
    </main>
</div>
